* {
    font-family: Nunito;
    font-size: 20px;
}

#window {
    background-color: transparent;

    margin: 0;
    padding: 0;
}

#outer-box {
    background-color: rgba(15, 03, 17, .9);

    border-radius: 4px;
    padding: 0 20px 10px;
}

#input {
    background-color: rgba(91, 59, 140, 0.3);

    border-radius: 4px;
    padding: 10px 10px;
    margin: 20px 0px;
}

#scroll {
    background-color: transparent;
}

#entry {
    padding: 12px 12px;
}

